/*
================================================
Base Rules
================================================
*/

p {
    font-size: 16px;
    line-height: 1.5em;
}

h2 {
    font-size: 36px;
    margin-bottom: 36px;
}

h3 {
    font-size: 24px;
    margin-bottom: 24px;
}

section {
    margin-bottom: 64px;
}

/*
================================================
Nav Bar Layout
================================================
*/

nav {
    width: 280px;
    position: absolute;
    margin-left: -280px;
    -webkit-transition: margin-left 1s ease;
    -moz-transition: margin-left 1s ease;
    transition: margin-left 1s ease;
}

/*
=================================================
Hero Layout
================================================
*/

.l-hero {
    height:600px;
    width: 100%
}

/*
=================================================
Hero Module
================================================
*/

.hero {
    padding-top: 150px;
}

.hero > h1 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 48px;
}

.hero > h3 {
    text-align: center;
}

.hero > button {
    height: 40px;
    display: block;
    margin: 24px auto;
}

/*
================================================
Nav Bar Module
================================================
*/
nav.is-expanded {
    margin-left: 0px;
}

.nav-menu {
    background-color: white;
    height: 600px;
}

.nav-menu-list > li {
    font-size: 24px;
    margin: 16px 16px;
}

/*
================================================
Menu Burger Module
================================================
*/
.menu-burger {
    width: 35px;
}

.menu-burger > div {
    height: 4px;
    width: 35px;
    margin: 5px 0;
    background-color: black;
    -webkit-transition: transform 1s ease, opacity 1s ease;
    -moz-transition: transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease;
}

.menu-burger.is-expanded > div:nth-of-type(1) {
    transform: rotate(45deg) translate(3px,10px);
}

.menu-burger.is-expanded > div:nth-of-type(2) {
    opacity: 0;
}

.menu-burger.is-expanded > div:nth-of-type(3) {
    transform: rotate(-45deg) translate(3px,-10px);
}

/*
==================================================
Benefits Module
==================================================
*/
.benefits-info {
    margin-bottom: 40px;
}

.benefits-info > h3 {
    text-align: center;
}

.benefits-info > p {
    text-align: center;
    margin-bottom: 16px;
}

.benefits-info > button {
    display: block;
    margin: auto;
    height: 40px;
}

.benefits-icon  {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: orange;
    margin: 24px auto;
}

.benefits-icon > img {
    display: block;
    padding-top: 14px;
    margin: auto;
}

/*
==================================================
About Module
==================================================
*/


.about > p,
.about > h2{
    text-align: center;
}

.about > p {
    margin-bottom: 36px;
}

.about-info {
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.about-text {
    width: 75%;
}

.about-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: orange;
    border-radius: 50%;
    padding-top: 5px;
}

.about-icon > img {
    margin: auto;
}

    /* credit to https://benmarshall.me/responsive-iframes/ for responsive iframe technique */

.about-video {
    width: 70%;
    margin: auto;
    position: relative;
    overflow: hidden;
    padding-bottom: 39.4%;
}

.about-video > iframe {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*
==============================================
State Rules for Ease in Animation

note: adding target to an elements class will apply this animation
==============================================
*/

.target {
    opacity: 0;
    margin-top: 100px;
    -webkit-transition: opacity 2s ease, margin-top 2s ease;
    -moz-transition: opacity 2s ease, margin-top 2s ease;
    transition: opacity 2s ease, margin-top 2s ease;
}
  
.target.is-visable {
    opacity: 1;
    margin-top: 0px;
}
